*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(30, 64, 91, 1);
    overflow: hidden;
    transition: background-color 1s ease-in-out;
}


.image{
    /* height: 650px;
    width: 900px; */
    max-width: 90%;
    max-height: 85vh;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    opacity: 1;
}

.hidden{
    opacity: 0;
    transform: scale(0.95);
}
@keyframes intro {
    from{opacity: 0;}
    to{opacity: 1;}    
}

#image1{
    animation: intro 1.5s ease-in-out;
}

.sideText{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 400px;
    text-align: left;
    line-height: 1.5;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.text-visible{
    display: block;
    opacity: 1 !important;
}

.split-view.image{
    max-width: 50%;
    height: auto;   
}

.split-view{
    display: flex;
    flex-direction: row !important;
    gap: 80px;
    align-items: center;
    justify-content: space-evenly;
}

.line-1{
    color: #FFB6C1;
    font-weight: bold;
}
.line-2{
    color: #f5f5f5;
    font-size: 1.2rem;
}
.line-3{
    color: #FFD700;
    font-weight: bold;
}
.line-4{
    color: #FF4D4D;
}
.line-5{
    color: #00FFCC;
}
.line-6{
    color: #FF69B4;
    font-style: italic;
}

.heart-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.heart{
    position: absolute;
    bottom: -10%;
    color: rgba(255, 77, 77, 0.6);
    font-size: 20px;
    user-select: none;
    animation: floatUp 4s linear infinite;
}

@keyframes floatUp {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .split-view{
        flex-direction: column !important;
        gap: 20px;
        justify-content: flex-start;
        padding-top: 20px;
    }

    .split-view .image{
        max-width: 80% !important
        }

    .sideText{
        font-size: 1.4rem;
        text-align: center;
        padding-left: 0;
        max-width: 90%;
    }

    .heart{
        font-size: 15px;
    }
}